@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');

html {
    scroll-behavior: smooth;
}

:root {
    --primary-color: #000000;

}

body {
    background-color: rgb(1, 107, 107);
    color: var(--primary-color);
    font-family: 'Montserrat', sans-serif;
    margin: 1rem;

}

.container {
    margin: 4rem auto 7rem;
    text-align: center;
}

.input-label {
    display: block;
    font-size: large;
    font-weight: 600;
}

.input {
    font-size: 14px;
    outline: var(--primary-color);
    padding: 0.6rem 1rem;
    margin: 1rem;
    border: 2px solid var(--primary-color);
    border-radius: 0.5rem;
    width: 100%;
    max-width: 258px;
}

.btn {
    background: var(--primary-color);
    border: none;
    color: rgb(1, 107, 107);
    padding: 0.7rem 1rem;
    border-radius: 0.5rem;
    font-size: large;
    cursor: pointer;
    margin: auto;
    display: block;
    font-weight: bold;
}

p {
    font-size: x-large;
    font-weight: bolder;
}


.footer-line {
    text-align: center;
    color: var(--primary-color);
    padding-bottom: 0.5rem;
}

img {
    max-width: 80%;
    height: 12rem;
    width: 20rem;
}

.hidden {
    display: none;
}

.footer .social-pills {
    text-align: center;
}
.footer ul {
    padding-inline-start: 0px;
}

hr {
    border: 1px solid var(--primary-color);
}
a{
    color: var(--primary-color);
    text-decoration: none;
    font-size: x-large;
}
.list-non-bullet {

    list-style: none;
    padding-inline-start: 0px;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}
.footer{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
}